body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
}

.left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main_videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlls {
    display: flex;
    background-color: #1c1e20;
    color: #D2D2D2;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.controlls-block {
    display: flex;
}

.controlls_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    transition: all .3s linear;
}

.controlls_buttons:hover {
    background-color: #343434;
    border-radius: 5px;
}

.controlls_buttons i {
    font-size: 18px;
}

.leave_meeting {
    color: #EB534B;
}

.right {
    flex: 0.2;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    border: 1px solid #3d3d42;
}

.main_header {
    color: #F5f5f5;
    text-align: center;
}

.main_chat_window {
    flex-grow: 1;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 2px;
}

.main_message_container {
    padding: 22px 12px;
    display: flex;
}

.main_message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.message {
    color: white;
    list-style: none;
}

.unmute,
.stop {
    color: #EB534B;
}