main {
    height: 100vh;
    display: flex;
}

.left {
    flex: 0.8;
}

.right {
    flex: 0.2;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
}